@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <h1 class="mt-5">Login</h1>
    <p>Entre no universo de Star Wars e conheca os principais planetas!</p>
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="Contato" asp-action="Index">Contato</a>
</div>


