@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Bem vindo ao templo Jedi! Aproveite a harmonia do templo</h1>
    <p>Explore o templo, e conheca os maiores mestres de todos os tempos! <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Contato" asp-action="Index">Contato</a>
    <a asp-controller="Login" asp-action="Index">Login</a>
</div>


